---
// import { getBlogs } from '../libs/microcms';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { newtClient } from '../libs/newt';
import type { Article } from '../libs/newt';
const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'blog',
  modelUid: 'article',
  query: {
    select: ['title', 'slug', 'body'],
  },
});
---

<Layout title="トップページです">
  <style>
    .fade-out {
      opacity: 0;
      transition: opacity 2s;
    }
  </style>
  <main class="overflow-hidden">
    <div class="p-[3em]">
			<h2 class="mb-[2em] text-[24px]">newtでブログ</h2>
			<ul>
				{
					articles.map((article) => {
						return (
							<li>
								<a class="hover:text-green-400" href={`articles/${article.slug}`}>
									{article.title}
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
  </main>
</Layout>
